# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/

# backend specific
backend/node_modules/

# frontend specific
frontend/node_modules/